@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;

}

h1{
    padding: 10px;
    text-align: center;
    color: white;
}

strong{
    color: rgb(222, 199, 22);
}

@media screen and (orientation: landscape){
body{
    background-image: url("cev-landscape.jpg");
    background-position: left bottom;
}
}

@media screen and (orientation: portrait) {
    body{
    background-image: url("../imagens/cev-portrait.jpg");
    background-position: center bottom;
}
}