@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1padrao:  Verdana, Geneva, Tahoma, sans-serif;
    --font2titulo: 'Passion One', sans-serif;
    --font3conteudo:'Sriracha', sans-serif
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1padrao);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-variant: small-caps;
    font-family: var(--font2titulo);
    font-size: 10vw;
}

section {
    padding: 10vh 0vh 10vh 0vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3conteudo);
    font-size: 3.5vw;
}

section > p {
    font-weight: lighter;
    padding-bottom: 2em;
    text-shadow: 1px 1px black;
}

.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.526);
}

.normal {
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.501);
    background-attachment: fixed;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

#img01{ 
    background-position: right bottom;    
    background-image: url('imagens/background001.jpg');

}

#img02{
    background-position: right bottom;
    background-image: url('imagens/background002.jpg');
}

