@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

h1{
    color: rgb(4, 244, 4);
}

h1#principal {
    text-align: center;
    color: white;
}

h2{
    color: rgb(4, 218, 4);
}
 
.basico{
    color: blueviolet;
}

.intermediario{
    color: brown;
}

.avancado{
    color: yellow;
}

.destaque {
    background-color: white;
}