@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

menu > ul > li > a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgb(81, 81, 81);
    text-align: center;
    padding: 10px;
    border: 2px solid gray;
}

a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

main > article> h1{
    text-align: center;
    padding-bottom: 20px;
}

main > article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    
}

span#burguer{
    color: white;
    background-color: rgb(36, 36, 36);
    display: block;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

